doctype html
head
  meta(charset='utf-8')
  title Test
  link(href='css/video-js.css' rel='stylesheet')
video#player.video-js.vjs-default-skin(controls='' preload='')
  source(src = 'videos/hls.m3u8' type='application/x-mpegURL')

script(src='js/video.js')
script(src='js/videojs-contrib-hls.min.js')
script.
  var player = videojs('player', {width: 350, height: 200});
  player.play();
